@model DemoApp.Models.Farmer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Farmer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
    </dl>
</div>
<div class="row">
    <table class="table table-bordered">
        <thead>
            <th>Hectare</th>
            <th>Tenurial Status</th>
            <th>Farm Address</th>
            <th>Croppings</th>
            <th> <a asp-action="AddFarm" asp-route-id="@Model?.FarmerId">Add Farm</a></th>
        </thead> 
        <tbody>
            @foreach(var item in Model.Farms)
            {
            <tr>
               <td>@item.Hectare</td>
               <td>@item.TenurialStatus</td>
               <td>@item.FarmAddress</td>
               <td>
                   @foreach(var crop in item.Croppings)
                    {
                      <p>@crop.Crop</p> 
                    }
                        
               </td>
               

               
            </tr>
            }


       
            

        </tbody>
    </table>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.FarmerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
